.section {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  margin-bottom: 25px;
  width: max-content;
}

.backButton {
  width: 25px;
  height: 25px;
}

.button:hover .backButton {
  fill: #a5ffe1;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff1a;
  padding: 30px 10px;
  border-radius: 12px;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fieldset {
  border: 1px solid #e3e3e363;
  border-radius: 12px;
  padding: 10px;
}

.radio {
  display: none;
}

.categoryGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  column-gap: 10px;
}

.categoryGroup label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #0000008c;
  font-size: clamp(0.8125rem, 0.6431rem + 0.753vw, 1.125rem);
  background-color: #8fa6d880;
  border-radius: 12px;
  padding: 5px 10px;
  position: relative;
  font-weight: bold;
}

.categoryGroup label:hover {
  background-color: #ffffff61;
}

.categoryGroup label::before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: 5px;
  top: 35%;
  transition: all 0.3s ease;
}

.categoryGroup label.active::before {
  background-color: #00ffb0;
}

.categoryGroup label.active {
  color: #d7d7d7;
}

.title,
.description {
  resize: none;
}

.title,
.description,
.image,
.price {
  width: 100%;
  color: #d7d7d7;
  border: 1px solid #e3e3e363;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: clamp(0.9375rem, 0.7003rem + 1.0542vw, 1.375rem);
}

.title::placeholder,
.description::placeholder,
.image::placeholder,
.price::placeholder {
  color: #8fa6d880;
}

.submit {
  margin-top: 20px;
  background-color: #00ffb0;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: clamp(1rem, 0.8645rem + 0.6024vw, 1.25rem);
  font-weight: bold;
}

.submit:hover {
  background-color: #a5ffe1;
}

.conteinerPrice {
  display: flex;
  gap: 10px;
  align-items: center;
}

.currency {
  background-color: rgba(143, 166, 216, 0.5);
  border-radius: 50%;
  padding: 5px 10px;
  color: #00ffb0;
  font-size: clamp(1rem, 0.8645rem + 0.6024vw, 1.25rem);
}

.requiredNote {
  font-size: clamp(0.875rem, 0.7395rem + 0.6024vw, 1.125rem);
  color: #8fa6d880;
}

.legend,
.label {
  font-size: clamp(1rem, 0.695rem + 1.3554vw, 1.5625rem);
  color: #fff;
}

.label {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .backButton {
    width: 30px;
    height: 30px;
  }

  .form {
    padding: 40px 20px;
    gap: 20px;
  }
  .field {
    gap: 10px;
  }
  .categoryGroup {
    grid-template-columns: repeat(4, 1fr);
  }
}
