.container {
  background-color: #ffffff1a;
  border-radius: 12px;
  position: relative;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonDelete,
.buttonLike {
  display: flex;
  position: absolute;
  background-color: rgba(143, 166, 216, 0.5);
  border-radius: 50%;
  align-items: center;
  height: 15px;
  width: 15px;
}

.buttonDelete {
  bottom: 5px;
  left: 5px;
  
}

.buttonLike {
  top: 5px;
  right: 5px;
}

.icon {
  height: 12px;
  width: 100%;
}

/* .icon {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1;
  transition: all 0.3s ease;
}

.iconLiked {
  fill: red;
  stroke: red;
} */

.image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.title {
  font-size: 10px;
  color: #d1d1d1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.price {
  font-size: 11px;
  text-align: end;
}
