.container {
  background-color: #ffffff1a;
  border-radius: 12px;
  position: relative;
}

.container:hover {
  background-color: #ddeaff47;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.button {
  display: flex;
  position: absolute;
  height: 20px;
  width: 20px;
}

.button:hover .icon {
  fill: #a5ffe1;
}

.buttonDelete {
  bottom: 5px;
  right: 5px;
}

.buttonLike {
  top: 5px;
  right: 5px;
}

.icon {
  height: 18px;
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

.title {
  font-size: clamp(0.75rem, 0.5467rem + 0.9036vw, 1.125rem);
  color: #d1d1d1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-family: "Kelly Slab", "Arial", sans-serif;
}

.price {
  font-size: clamp(0.6875rem, 0.4842rem + 0.9036vw, 1.0625rem);
  text-align: end;
  background-color: #0d2344;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  font-family: monospace;
}

@media (min-width: 550px) and (max-width: 1024px) {
  .icon {
    height: 20px;
  }
  .button {
    height: 22px;
    width: 22px;
  }
  .article {
    padding: 15px;
  }
}

@media (min-width: 1025px) {
  .icon {
    height: 22px;
  }
  .button {
    height: 24px;
    width: 24px;
  }
  .article {
    padding: 20px;
  }
}
