.header {
  background-color: #0d2344;
  box-shadow: rgb(12 12 12) 1px 4px 20px;
}

.container {
  display: flex;
  max-inline-size: 1024px;
  justify-content: space-between;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.title {
  font-size: clamp(1.25rem, 0.8434rem + 1.8072vw, 2rem);
  color: #00ffb0;
  font-family: "Kelly Slab", "Arial", sans-serif;
}

.logo {
  width: 35px;
  height: 35px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
}

.icon {
  width: 25px;
  height: 25px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #00ffb094;
  fill: #00ffb094;
}

.link:hover {
  color: #a5ffe1;
  fill: #a5ffe1;
}

.link.active {
  color: #00ffb0;
  fill: #00ffb0;
}

.text {
  font-size: clamp(1rem, 0.7967rem + 0.9036vw, 1.375rem);
}

@media (min-width: 768px) {
  .logo {
    width: 40px;
    height: 40px;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}
