* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kelly Slab";
  src: url("../src/assets/fonts/KellySlab-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/KellySlab-Regular.woff") format("woff"),
    url("../src/assets/fonts/KellySlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src: url("../src/assets/fonts/Play-Regular.woff2") format("woff2"),
    url("../src/assets/fonts/Play-Regular.woff") format("woff"),
    url("../src/assets/fonts/Play-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  font-family: "Play", "Arial", sans-serif;;
  background-color: rgb(20, 53, 101);
  color: rgb(0, 255, 176);
}
